<section class="wrapper">
	<h1>Kentucky Bourbon Finder</h1>
	<div class="bourbon-image">
		Glass of bourbon
	</div>
	<div class="bourbon-info">
		<a class="info">info</a>
		<p>
			The base aroma is buttered corn-on-the-cob with aeration bringing additional scents of vanilla and cinnamon. The palate entry showcases sweet breakfast cereal grain; at midpalate the corn dominates so thoroughly that you know that this could only be one of the best straight bourbons from Kentucky. Ends spirity and heated. One of America’s benchmark spirits.
		</p>
	</div>



	<div class="vote">
		<div class="yes option">
			<a href="#">Yes</a>
		</div>
		<div class="no option">
			<a href="#">No</a>
		</div>
	</div><!-- /.yes-->
</section>