<section class="choose wrapper">
	<h3>Try this</h3>
	<div class="bourbon-image">
		Glass of bourbon
	</div>
	<h1>Four Roses Bourbon Yellow Label</h1>
	<div class="bourbon-info">
		<a class="info">info</a>
		<p>
			The base aroma is buttered corn-on-the-cob with aeration bringing additional scents of vanilla and cinnamon. The palate entry showcases sweet breakfast cereal grain; at midpalate the corn dominates so thoroughly that you know that this could only be one of the best straight bourbons from Kentucky. Ends spirity and heated. One of America’s benchmark spirits.
		</p>
	</div>
	<div class="vote">
		<div class="yes option">
			<a>Yes</a>
		</div>
		<div class="no option">
			<a>No</a>
		</div>
		<div class="skip"><a>skip it</a></div>
	</div><!-- /.yes-->

</section>



<section class="wrapper description">
	<h1>Woodford Double Oak Bourbon
		<dl>
			<dt class="color">Color</dt>
			<dd>Deep</dd>

			<dt class="aroma">Aroma</dt>
			<dd>Huge wafts of butterscotch and toffee with a bit of heady molasses</dd>

			<dt class="entry">Entry</dt>
			<dd>Butterscotch, vanilla, and toffee notes at the front of the palate, evenually giving way to cinnamon, clove and rum raisin.</dd>

			<dt class="finish">Finish</dt>
			<dd>Flavors of butterscotch to their best to tone down the lingering bitterness. Moderate length with ample warmth.</dd>

			<dt class="strength">Strength</dt>
			<dd>90 Proof</dd>
		</dl>
	</h1>
</section>

<section class="wrapper">
	<h1>Try these bourbons</h1>
	<ul>
		<li>Makers Mark</li>
		<li>Jim Beam</li>
		<li>Wild Turkey</li>
	</ul>
	<p>Based on your bourbon profile, which is a <strong>fruity</strong> aroma, 
		<strong>wood</strong> taste and <strong>spice</strong> finish.</p>
</section>