// Variables and mixins only in this document

$yellow: rgb(234,174,96);
$cream: rgb(248,247,211);
$maroon: rgb(66,19,20);

$sansfont: 'ralewayheavy', sans-serif;
$sansthin: 'ralewaymedium', sans-serif;
$seriffont:  'prociono_ttregular', serif;

@mixin hide-text(){
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}