// Variables

$yellow: rgb(234,174,96);
$cream: rgb(248,247,211);
$maroon: rgb(66,19,20);

$sansfont: 'ralewayheavy', sans-serif;
$sansthin: 'ralewaymedium', sans-serif;
$seriffont:  'prociono_ttregular', serif;