 html {
  font: normal 16px/24px $sansthin;
  background:#000 url(image-path('background-19.png')) repeat center center;
  height: 100%;
  margin: 0;
  padding: 0;

  &:after, &:before{
    display: table;
  }
  &:after{
    clear:both;
  }
 }

 h1,h2,h3,h4,h5,h6 { 
  font-family: $seriffont;
  margin: .5em 0;
 }

.choose > h3 {
  color: $yellow;
  font-family: $sansfont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  background: url(image-path('topper.svg')) no-repeat center center;
  background-size: contain;
  text-indent: -99999px;
}

h1 {
  color: $cream;
}

.info {
  text-indent: -99999px;
  background: url(image-path('info_button.svg')) no-repeat;
  height: 1.5em;
  width: 1.5em;
  float: right;
}

.wrapper {
  margin: 5%;
  border: 1px solid $cream;
  padding: 5%;
  text-align: center;
}

.wrapper li {display: inline-block;}

.bourbon-image {
  width: 90%;
  height: 300px;
  background: url(image-path('whiskey_glass.svg')) no-repeat center center;
  background-size: contain;
  text-indent: -9999px; 
  display: block;
  margin: 5% auto;
}

.vote .option {
  display: inline-block;
  width: 20%;
  text-indent: -99999px;
}

.vote .yes {
  
}

.vote .option a {
  text-decoration: none; 
  font-size: 150%;
  font-weight: bold;
  width: 100%;
  display: block;
  padding: 5% 0;
  height: 30px;
}
.yes a {
  
  background: url(image-path('like.svg')) no-repeat;
  background-size: contain;
  background-position: center center;
  }
.no a {
background: url(image-path('dislike.svg')) no-repeat ;
background-size: contain;
background-position: center center;
}

.skip {
  display: block;
  text-align: right;
  font-family: $seriffont;
  text-transform: uppercase;
  text-decoration: underline;
  color: $maroon;
  font-size: 75%;
  letter-spacing: .1em;
}
.skip a:hover {background: none;}

dt {
  font: normal 1.5em/1.5em $sansfont;
  color: $yellow;
  text-transform: uppercase;
  margin: .5em 0;
}

dd {
  border-bottom: solid 1px $cream;
  color: $cream;
  margin: 0 0 1.5em;
  padding: 0 0 1em;
  font-family: $sansthin;
}

dd:last-child {
  border: none;
}

.description dt {
  padding-bottom: 1.5em;
}

.description .color {
  background: url(image-path('Color.svg')) no-repeat;
  background-size: 1em auto;
  background-position: center bottom;
}

.description .aroma {
  background: url(image-path('aroma.svg')) no-repeat;
  background-size: 1em auto;
  background-position: center bottom;
}

.description .entry {
  background: url(image-path('body.svg')) no-repeat;
  background-size: 1em auto;
  background-position: center bottom;
}

.description .finish {
  background: url(image-path('Finish.svg')) no-repeat;
  background-size: 1em auto;
  background-position: center bottom;
}
.description .strength {
  background: url(image-path('Strength.svg')) no-repeat;
  background-size: 1em auto;
  background-position: center bottom;
}

.vote {
  padding-top: 4em;
  background: url(image-path('ornament.svg')) no-repeat top center;
}

