/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html {
 	font: 16px/24px sans-serif;
 }

.wrapper {
	margin: 5%;
	border: 1px solid #ccc;
	padding: 5%;
	text-align: center;
}

.bourbon-image {
	width: 90%;
	height: 300px;
	background: url('1254218_67669771-small.jpg') no-repeat center center;
	background-size: contain;
	text-indent: -9999px; 
	display: block;
	margin: 5% auto;
}

.vote .option {
	display: inline-block;
	width: 45%;
}

.vote .yes {margin-right: 5%;}

.vote a {
	text-decoration: none; 
	font-size: 150%;
	font-weight: bold;
	width: 100%;
	display: inline-block;
	background: #ccc;
	padding: 5% 0;
}
.vote a:hover {
	background: #aaa;
}